*.uvoptx
*.scvd
*.uvguix.*
*.map
*.bin
*.hex
*.axf
*.lst
*.crf
*.d
*.o
*.htm
*.lnp
*.dep

#JLink配置
*JLinkLog.txt
*JLinkSettings.ini

#MDK工程产物
USI216/ble/application/Keil_5/Listings/
USI216/ble/application/Keil_5/Objects/
USI216/ble/bootloader/Keil_5/Listings/
USI216/ble/bootloader/Keil_5/Objects/
USI216/ble/dtm/Keil_5/Listings/
USI216/ble/dtm/Keil_5/Objects/
USI216/ble/tool/Keil_5/Listings/
USI216/ble/tool/Keil_5/Objects/

#汇顶工具日志
*.log.INFO.*
*.log.ERROR.*
*.log.WARNING.*
